<!doctype html>
<html>
    <head>
      <title>Blynx LED</title>
      <meta name="description" content="My first page">
      <meta name="keywords" content="html test">
    </head>
    <body>
        <h2>Pattern Form for updating Blynx LED controller</h2>
		<div id="app">
			<form>
				<select id="patterns" name="patterns">
    				<option value="ripple">Ripple</option>
    				<option value="cylonbounce">CylonBounce</option>
    				<option value="wave">Wave</option>
    				<option value="rainbow">Rainbow</option>
					<option value="wheel">Wheel</option>
    				<option value="fire">Fire</option>
					<option value="meteorrain">Meteor Rain</option>
  				</select>
				<input id="colors" type="color">
				<input type="submit">
			</form>
        </div>
    </body>
</html>
