<!doctype html>
<html>
    <head>
      <title>Blynx LED</title>
    </head>
    <body>
        <h2>Pattern Form for updating Blynx LED controller</h2>
		<div id="app">
			<form method="get">
				<select id="patterpicker" name="patterns">
    				<option value="ripple">Ripple</option>
    				<option value="cylonbounce">CylonBounce</option>
    				<option value="wave">Wave</option>
    				<option value="rainbow">Rainbow</option>
					<option value="wheel">Wheel</option>
    				<option value="fire">Fire</option>
					<option value="meteorrain">Meteor Rain</option>
  				</select>
				<input id="colorpicker" type="color">
				<table width="100" border="1">
				  <tbody>
				    <tr>
				      <td id="patterndisplay">test</td>
				      <td id="colordisplay">test</td>
				    </tr>
				  </tbody>
				</table>
				<input type="submit">
			</form>
			<script>
				function myFunction() {
					document.getElementById("colordisplay").value = document.getElementById("colorpicker").value;
				}
				function myFunction() {
					document.getElementById("patterndisplay").value = document.getElementById("patternpicker").value;
				}
			</script>
        </div>
    </body>
</html>
